*.gam
*.wad
*.mdl
*.bmp
*.tga
*.res
*.ttf
*.scr
*.wav
*.inf
*.lst
*.rc
/ag/
/ag_downloads/
/bshift/
/bshift_hd/
/cl_dll/
/CMake/
/common/
/czero/
/czeror/
/dlls/
/dmc/
/dod/
/engine/
/external/
/game_shared/
/gearbox/
/gearbox_hd/
/htmlcache/
/lib/
/linux/
/network/
/platform/
/pm_shared/
/projects/
/public/
/ricochet/
/Soundtrack/
/steam_shader_cache/
/tfc/
/utils/
/valve_downloads/
/valve_hd/
a3dapi.dll
avcodec-53.dll
avformat-53.dll
avutil-51.dll
binkawin.asi
chromehtml.dll
CMakeLists.txt
Core.dll
debug.log
DemoPlayer.dll
filecopy.bat
FileSystem_Stdio.dll
hl.exe
hlds.exe
hltv.exe
hw.dll
icudt.dll
language.inf
libcef.dll
LICENSE
LICENSE-discord-rpc
LICENSE-libcurl
Mss32.dll
mssmp3.asi
mssvoice.asi
proxy.dll
readme.txt
SDL2.dll
steam_api.dll
steam_appid.txt
sw.dll
swds.dll
tier0.dll
valve/1024_textscheme.txt
valve/1152_textscheme.txt
valve/1280_textscheme.txt
valve/1600_textscheme.txt
valve/640_textscheme.txt
valve/800_textscheme.txt
valve/800_textscheme.txt
valve/cached.wad
valve/cl_dlls/client.dll
valve/cl_dlls/client.dylib
valve/cl_dlls/client.so
valve/cl_dlls/GameUI.dll
valve/cl_dlls/particleman.dll
valve/credits.txt
valve/config.cfg
valve/decals.wad
valve/default.cfg
valve/delta.lst
valve/dlls/
valve/events/
valve/game.icns
valve/fonts.wad
valve/game.ico
valve/game.tga
valve/GameServerConfig.vdf
valve/gfx.wad
valve/gfx/
valve/halflife.wad
valve/hw/
valve/logos/
valve/maps/
valve/media/
valve/language.cfg
valve/listenserver.cfg
valve/mapcycle.txt
valve/overviews/
valve/sprites/320_logo.spr
valve/sprites/320_pain.spr
valve/sprites/320_train.spr
valve/sprites/320hud1.spr
valve/resource/BackgroundLayout.txt
valve/resource/BackgroundLoadingLayout.txt
valve/resource/gameui_english.txt
valve/resource/valve_english.txt
valve/scripts/voicemodel.txt
valve/server.cfg
valve/skill.cfg
valve/sound/materials.txt
valve/sound/sentences.txt
valve/spectatormenu.txt
valve/spectcammenu.txt
valve/sprites/320hud2.spr
valve/sprites/320hud3.spr
valve/sprites/320hud4.spr
valve/sprites/640_logo.spr
valve/sprites/640_pain.spr
valve/sprites/640_train.spr
valve/sprites/640hud1.spr
valve/sprites/640hud2.spr
valve/sprites/640hud3.spr
valve/sprites/640hud4.spr
valve/sprites/640hud5.spr
valve/sprites/640hud6.spr
valve/sprites/640hud7.spr
valve/sprites/640hud7.spr
valve/sprites/640hud8.spr
valve/sprites/640hud9.spr
valve/sprites/aexplo.spr
valve/sprites/agrunt1.spr
valve/sprites/animglow01.spr
valve/sprites/arrow1.spr
valve/sprites/b-tele1.spr
valve/sprites/ballsmoke.spr
valve/sprites/bexplo.spr
valve/sprites/bhit.spr
valve/sprites/bigspit.spr
valve/sprites/blast.spr
valve/sprites/blood.spr
valve/sprites/blooddrop.spr
valve/sprites/bloodspray.spr
valve/sprites/blueflare1.spr
valve/titles.txt
valve/violence.cfg
vgui.dll
vgui2.dll
vstdlib.dll
valve/sprites/zerogxplode.spr
valve/sprites/zbeam6.spr
valve/sprites/zbeam3.spr
valve/sprites/yelflare2.spr
valve/sprites/yelflare1.spr
valve/sprites/xssmke1.spr
valve/sprites/xspark4.spr
valve/sprites/xspark3.spr
valve/sprites/xspark2.spr
valve/sprites/xspark1.spr
valve/sprites/zbeam1.spr
valve/sprites/xsmoke1.spr
valve/sprites/xsmoke4.spr
valve/sprites/xflare2.spr
valve/sprites/xfire2.spr
valve/sprites/zbeam5.spr
valve/sprites/zbeam2.spr
valve/sprites/zbeam2.spr
valve/sprites/zbeam4.spr
valve/sprites/xsmoke3.spr
valve/sprites/xflare1.spr
valve/sprites/xflare3.spr
valve/sprites/xfire.spr
valve/sprites/xfireball3.spr
valve/sprites/xenobeam.spr
valve/sprites/xbeam4.spr
valve/sprites/xbeam5.spr
valve/sprites/xffloor.spr
valve/sprites/xffloor.spr
valve/sprites/xbeam3.spr
valve/sprites/xbeam2.spr
valve/sprites/xbeam1.spr
valve/sprites/WXplo1.spr
valve/sprites/wsplash3.spr
valve/sprites/white.spr
valve/sprites/weapon_tripmine.txt
valve/sprites/weapon_snark.txt
valve/sprites/weapon_shotgun.txt
valve/sprites/weapon_satchel.txt
valve/sprites/weapon_rpg.txt
valve/sprites/weapon_question.txt
valve/sprites/weapon_hornetgun.txt
valve/sprites/weapon_handgrenade.txt
valve/sprites/weapon_gauss.txt
valve/sprites/weapon_egon.txt
valve/sprites/weapon_crowbar.txt
valve/sprites/weapon_crossbow.txt
valve/sprites/weapon_9mmhandgun.txt
valve/sprites/weapon_9mmar.txt
valve/sprites/weapon_357.txt
valve/sprites/wdrip2.spr
valve/sprites/wallpuff.spr
valve/sprites/vp_parallel_oriented.spr
valve/sprites/vp_parallel.spr
valve/sprites/voiceicon.spr
valve/sprites/tinyspit.spr
valve/sprites/tile.spr
valve/sprites/tele1.spr
valve/sprites/streak.spr
valve/sprites/stmbal1.spr
valve/sprites/steam1.spr
valve/sprites/spotlight04.spr
valve/sprites/spotlight03.spr
valve/sprites/spotlight02.spr
valve/sprites/spotlight01.spr
valve/sprites/blueflare2.spr
valve/sprites/spark1.spr
valve/sprites/smoke.spr
valve/sprites/small_logo.spr
valve/sprites/shockwave.spr
valve/sprites/shellchrome.spr
valve/sprites/sdrip1.spr
valve/sprites/rope.spr
valve/sprites/rjet1.spr
valve/sprites/richo2.spr
valve/sprites/richo1.spr
valve/sprites/redflare2.spr
valve/sprites/redflare1.spr
valve/sprites/portal1.spr
valve/sprites/poison.spr
valve/sprites/plasma.spr
valve/sprites/oriented.spr
valve/sprites/nhth1.spr
valve/sprites/muzzleflash3.spr
valve/sprites/muzzleflash2.spr
valve/sprites/muzzleflash1.spr
valve/sprites/muzzleflash.spr
valve/sprites/muz8.spr
valve/sprites/muz7.spr
valve/sprites/muz6.spr
valve/sprites/muz5.spr
valve/sprites/muz4.spr
valve/sprites/muz3.spr
valve/sprites/muz2.spr
valve/sprites/muz1.spr
valve/sprites/mushroom.spr
valve/sprites/moths.spr
valve/sprites/mommaspout.spr
valve/sprites/mommaspit.spr
valve/sprites/mommablob.spr
valve/sprites/logo.spr
valve/sprites/lgtning.spr
valve/sprites/laserdot.spr
valve/sprites/laserbeam.spr
valve/sprites/iunknown.spr
valve/sprites/iplayerred.spr
valve/sprites/iplayerdead.spr
valve/sprites/iplayerblue.spr
valve/sprites/iplayer.spr
valve/sprites/iflagred.spr
valve/sprites/iflagblue.spr
valve/sprites/hud.txt
valve/sprites/hotglow.spr
valve/sprites/hexplo.spr
valve/sprites/gwave1.spr
valve/sprites/glow05.spr
valve/sprites/glow04.spr
valve/sprites/glow03.spr
valve/sprites/glow02.spr
valve/sprites/glow01.spr
valve/sprites/gexplo.spr
valve/sprites/gargeye1.spr
valve/sprites/flare6.spr
valve/sprites/flare5.spr
valve/sprites/flare4.spr
valve/sprites/flare3.spr
valve/sprites/flare2.spr
valve/sprites/flare1.spr
valve/sprites/fire.spr
valve/sprites/fexplo1.spr
valve/sprites/fexplo.spr
valve/sprites/explode2.spr
valve/sprites/explode1.spr
valve/sprites/exit1.spr
valve/sprites/enter1.spr
valve/sprites/eexplo.spr
valve/sprites/dot.spr
valve/sprites/d-tele1.spr
valve/sprites/cnt1.spr
valve/sprites/cexplo.spr
valve/sprites/camera.spr
valve/sprites/c-tele1.spr
valve/sprites/bubble.spr
valve/sprites/bm1.spr
valve/sprites/bluejet1.spr
valve/sprites/e-tele1.spr
valve/sprites/dexplo.spr
valve/sprites/bolt1.spr
valve/voice_ban.dt
valve/models/player/remapped.bmp
valve/custom.hpk
/valve/cl_dlls
/valve/resource
/valve/scripts
/valve/sound
/valve/sprites
valve/autoexec.cfg
valve/demoheader.dmf
valve/models/player/remapped.bmp
cstrike/cl_dlls/client.dll
cstrike/cl_dlls/client.dylib
cstrike/cl_dlls/client.so
cstrike/dlls/mp.dll
valve/models/player/remapped.bmp
cstrike/dlls/cs.dylib
cstrike/dlls/cs.so
HALF-LIFE.ico
Life.ico
Papirus-Team-Papirus-Apps-Half-life.ico
valve/hldm.cfg
valve/InGameDialogConfig.vdf
valve/models/player/remapped.bmp
valve/ServerBrowser.vdf
valve/test.cfg
Soft Install.bat
